:root {
    --primary-color: white;
    --secondary-color: #4C4C4C;
    --third-color: #999999;
    --h1-font-family: 'Bodoni Moda', serif;
    --h2-font-family: 'Cardo', serif;
    --p-font-family: 'Darker Grotesque', sans-serif;
}

body {
    font-family: var(--h1-font-family);
}

.hero h1 {
    font-family: var(--h1-font-family);
    font-size: 70px;
    color: var(--secondary-color);
    padding: 150px 20px 10px 20px;
}

.hero h2 {
    font-family: var(--h2-font-family);
    font-size: 20px;
    color: var(--third-color);
    line-height: 2;
    padding: 30px;
}

.hero {
background: var(--primary-color);
text-align: center;
}

.btn-branding {
    font-family: var(--h1-font-family);
    font-size: 16px;
    color: var(--primary-color);
    background: var(--third-color);
    border-radius: 12px;
    line-height: 16px;
    padding: 18px 18px;
}

.btn-branding-outline {
    font-family: var(--h1-font-family);
    font-size: 16px;
    color: var(--third-color);
    border: 1.5px solid var(--third-color);
    border-radius: 12px;
    line-height: 16px;
    padding: 20px 20px;
}

.content-container {
    background: var(--primary-color);
    text-align: left;
    padding: 80px 450px 50px 100px;
}

.about-footer {
    background: var(--primary-color);
    text-align: left;
    font-size: 12px;
  line-height: 20px;
    font-family: var(--h2-font-family);
}
.content h1 {
    font-family: var(--h1-font-family);
    font-size: 32px;
    color: var(--secondary-color);
}
.content p {
    font-family: var(--p-font-family);
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
    line-height: 1.5;
}
nav {
  padding: 15px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-family: var(--h2-font-family);
  color: var(--third-color);
}

nav a {
  text-decoration: none;
  color: var(--third-colour);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

@media (max-width: 960px) {
    .content h1 {
        font-size: 26px;
        line-height: 1.5;
    }
    .content h2 {
        font-size: 16px;
    }
    .hero h1 {
        font-size: 46px;
    }
    .hero h2 {
        font-size: 16px;
    }
    .hero
    .about-footer {
        padding: 60px 18px;
    }
    .content-container {
        font-size: 16px;
        padding: 100px 100px 50px 70px;
    }
}